/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
}

/*
 * Remove text-shadow in
    font-size: 1em;
    line-height: 1.4; selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Proxima Nova', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1429032021766-c6a53949594f?dpr=2&fit=crop&fm=jpg&h=900&ixjsv=2.0.0&ixlib=rb-0.3.5&q=50&w=1350');
     background-image: url('https://images.unsplash.com/photo-1441448770220-76743f9e6af6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=51a23837b0d55917ae8cb46c8ca7efe2');
    background-size: cover; 
}
#container {
    background-color: #FDFDFD;
    width: 90%;
    padding: 30px;
    margin: 0 auto;
    display: flex;
}
.btn-large {
    width: 100%;
}
p {
    color: #333333;
}

#moreinfo {
    float:right;
}
#top-maincontent h5 {
    float:left;
}
#top-maincontent {
    overflow: hidden;
}
#main-content h5 {
    margin: 0 0 1.656rem 0;   
}
#main-content form {
    width: 100%;    
}
.alert {
    color: white;
    font-size: small;
    margin-top: 0;
}
#sidebar {
    display: none;
}
.plannername {
    text-align: center; 
    color: #8A8888;
    font-size: small;
}
.form-footer{
    float: left;
    margin-top: 22px;
    bottom: 0;
    position: relative;
    width: 100%;  
}
.form-footer-fix {
    margin-top: 0px;     
}

.bottom-footer {
    padding: 0;
    width:auto;    
}
.dotstyle ul {
    float:right;
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}
.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 4px;
	width: 8px;
	height: 8px;
	cursor: default;
    bottom: 30px;
}
.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #26a69a;
	background-color: rgba(38,166,154,0.3);
	text-indent: -999em;
	cursor: default;  /*make the text accessible to screen readers */
	position: absolute;
}
.dotstyle-fillup li a {
	overflow: hidden;
	background-color: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 1px rgba(38,166,154,1);
	transition: background 0.3s;
}
.dotstyle-fillup li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: #26a69a;
	box-shadow: 0 0 1px #fff;
	transition: height 0.3s;
}
.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
	background-color: rgba(255,255,255,0.2);
}
.dotstyle-fillup li.current a::after {
	height: 100%;
}
.input-field {
    
  margin-bottom:20px;  
}
.input-field label{
    
  left: 0px;
}
div.topspace {
    margin-top: 2.3rem;   
}
input.select-dropdown:hover {
    border-bottom: 1px solid #26a69a;
}
div.real-footer {
    margin: 50px auto;     
    overflow:auto;
    width: 100%;
    text-align:center;
}
div.real-footer .footercontainer {
    width: 100%;     
    padding: 0 30px;
    overflow:auto;
    max-width: 100%;
}
div.real-footer p{
    font-size: .7em;
    margin: 15px 0 0 0;
    color: white;
}
div.security img{
    width: inherit;
}
img#security {
    width: 50px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 666px) {
    /* Style adjustments for viewports that meet the condition */


#container {
    float: left;
    margin: 30px 0 0 30px;
    width: inherit;
    height: inherit;
    padding: 0;
    background: none;
    background-color: rgba(245, 245, 245, 0.78);
    display: block;
}
    
#main-content {
    background-color: #FDFDFD;
    padding: 30px;
    float: right; 
}

p#subcopy {
    display:none;
}

h1.welcometitle {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
}

#moreinfo {
    display:none;
}

#main-content h5 {
    margin: 0 0 1.656rem 0;    
}

#main-content form {
    width: 300px;    
}

#sidebar {
    display: block;
    
    float: left;
    width: 240px;
    padding:30px; 
}

#sidebar img {
    margin: 0 auto;
    width: 90px;
    display: block;
    border: 1px solid rgba(38, 166, 154, 0.73);
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

.showit{
    display: inline;
}

.plannername {
    text-align: center; 
    color: #8A8888;
}
    
div.real-footer {
    margin: 50px auto;     
    overflow:auto;
    width: 100%;
    float: left;
    text-align: none;
}

div.real-footer .footercontainer {
    width: 100%;     
    padding: 0 30px;
    overflow:auto;
    max-width: 100%;
}

div.real-footer p{
    font-size: .8em;
    float:left;
    margin: 5px 0 0 0;
    color: white;
}

div.security img{
    margin-right:5px;
    width: 26%;
}
    
div.security {
    float:left;   
}
    
img#security {
    width: 50px;
}
}

@media print,
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 1.25dppx),
   (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media only screen and (min-width: 1200px) {

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
